
CloverusSys/.vs/CloverusSys/v16/.suo
CloverusSys/obj/Debug/CloverusSys.csproj.AssemblyReference.cache
CloverusSys/obj/Debug/DesignTimeResolveAssemblyReferences.cache
CloverusSys/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CloverusSys/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
CloverusSys/obj/Debug/CloverusSys.csproj.CoreCompileInputs.cache
CloverusSys/obj/Debug/CloverusSys.csproj.FileListAbsolute.txt
CloverusSys/obj/Debug/CloverusSys.csproj.GenerateResource.cache
CloverusSys/obj/Debug/CloverusSys.exe
CloverusSys/obj/Debug/CloverusSys.FrmMainMenu.resources
CloverusSys/obj/Debug/CloverusSys.MasterMaintenance.Customers.Preview.resources
CloverusSys/obj/Debug/CloverusSys.pdb
CloverusSys/obj/Debug/CloverusSys.Properties.Resources.resources
CloverusSys/bin/Debug/CloverusSys.exe
CloverusSys/bin/Debug/CloverusSys.exe.config
CloverusSys/bin/Debug/CloverusSys.pdb
CloverusCommon/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
CloverusCommon/obj/Debug/CloverusCommon.csproj.AssemblyReference.cache
CloverusCommon/obj/Debug/CloverusCommon.csproj.CoreCompileInputs.cache
CloverusCommon/obj/Debug/CloverusCommon.csproj.FileListAbsolute.txt
CloverusCommon/obj/Debug/CloverusCommon.dll
CloverusCommon/obj/Debug/CloverusCommon.pdb
CloverusCommon/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CloverusSys/bin/Debug/CloverusCommon.dll
CloverusSys/bin/Debug/CloverusCommon.pdb
CloverusSys/obj/Debug/CloverusSys.csproj.CopyComplete
