
CloverusSys/.vs/CloverusSys/v16/.suo
CloverusSys/obj/Debug/CloverusSys.csproj.AssemblyReference.cache
CloverusSys/obj/Debug/DesignTimeResolveAssemblyReferences.cache
CloverusSys/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CloverusSys/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
CloverusSys/obj/Debug/CloverusSys.csproj.CoreCompileInputs.cache
CloverusSys/obj/Debug/CloverusSys.csproj.FileListAbsolute.txt
CloverusSys/obj/Debug/CloverusSys.csproj.GenerateResource.cache
CloverusSys/obj/Debug/CloverusSys.exe
CloverusSys/obj/Debug/CloverusSys.FrmMainMenu.resources
CloverusSys/obj/Debug/CloverusSys.MasterMaintenance.Customers.Preview.resources
CloverusSys/obj/Debug/CloverusSys.pdb
CloverusSys/obj/Debug/CloverusSys.Properties.Resources.resources
CloverusSys/bin/Debug/CloverusSys.exe
CloverusSys/bin/Debug/CloverusSys.exe.config
CloverusSys/bin/Debug/CloverusSys.pdb
CloverusCommon/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
CloverusCommon/obj/Debug/CloverusCommon.csproj.AssemblyReference.cache
CloverusCommon/obj/Debug/CloverusCommon.csproj.CoreCompileInputs.cache
CloverusCommon/obj/Debug/CloverusCommon.csproj.FileListAbsolute.txt
CloverusCommon/obj/Debug/CloverusCommon.dll
CloverusCommon/obj/Debug/CloverusCommon.pdb
CloverusCommon/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CloverusSys/bin/Debug/CloverusCommon.dll
CloverusSys/bin/Debug/CloverusCommon.pdb
CloverusSys/obj/Debug/CloverusSys.csproj.CopyComplete
CloverusCommon/bin/Debug/CloverusCommon.dll
CloverusCommon/bin/Debug/CloverusCommon.pdb
CloverusCommon/obj/Debug/_IsIncrementalBuild
CloverusCommon/bin/Debug/CloverusCommon.dll
CloverusCommon/bin/Debug/CloverusCommon.pdb
CloverusSys/.vs/CloverusSys/FileContentIndex/043d1de5-5e3a-475b-aa3b-e74ad1e3ba10.vsidx
CloverusSys/.vs/CloverusSys/FileContentIndex/0da652dd-6764-4f91-b9b4-d8fac7469011.vsidx
CloverusSys/.vs/CloverusSys/FileContentIndex/20ce974a-0467-4193-adad-5e286bbdcb82.vsidx
CloverusSys/.vs/CloverusSys/FileContentIndex/573ff808-1607-45b8-ac0f-6d9822296850.vsidx
CloverusSys/.vs/CloverusSys/FileContentIndex/read.lock
CloverusSys/.vs/CloverusSys/v17/.futdcache.v1
CloverusSys/.vs/CloverusSys/v17/.suo
CloverusCommon/bin/Debug/CloverusCommon.dll
CloverusCommon/bin/Debug/CloverusCommon.pdb
CloverusSys/obj/Debug/_IsIncrementalBuild
CloverusSys/obj/Debug/CloverusSys.csproj.SuggestedBindingRedirects.cache
SprCommon/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
SprCommon/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SprCommon/obj/Debug/SprCommon.csproj.AssemblyReference.cache
CloverusCommon/bin/Debug/CloverusCommon.dll
CloverusCommon/bin/Debug/CloverusCommon.pdb
CloverusCommon/bin/Debug/SprCommon.dll
CloverusCommon/bin/Debug/SprCommon.pdb
CloverusCommon/obj/Debug/CloverusCommon.csproj.CopyComplete
CloverusSys/bin/Debug/SprCommon.dll
CloverusSys/bin/Debug/SprCommon.pdb
SprCommon/bin/Debug/SprCommon.dll
SprCommon/bin/Debug/SprCommon.pdb
SprCommon/obj/Debug/SprCommon.csproj.CoreCompileInputs.cache
SprCommon/obj/Debug/SprCommon.csproj.FileListAbsolute.txt
SprCommon/obj/Debug/SprCommon.dll
SprCommon/obj/Debug/SprCommon.pdb
*.dll
*.vsidx
*.dll
*.resources
*.dll
SprCommon/obj/Debug/_IsIncrementalBuild
*.cache
CloverusCommon/bin/Debug/CloverusCommon.dll
*.dll
*.pdb
CloverusCommon/bin/Debug/CloverusCommon.dll
CloverusCommon/bin/Debug/CloverusCommon.pdb
CloverusCommon/bin/Debug/CloverusCommon.dll
CloverusCommon/bin/Debug/CloverusCommon.dll
CloverusCommon/bin/Debug/CloverusCommon.pdb
CloverusCommon/bin/Debug/CloverusCommon.dll
CloverusCommon/bin/Debug/CloverusCommon.pdb
*.pdb
CloverusCommon/bin/Debug/CloverusCommon.dll
CloverusCommon/bin/Debug/CloverusCommon.dll
CloverusCommon/bin/Debug/CloverusCommon.pdb
CloverusSys/.vs/CloverusSys/project-colors.json
CloverusCommon/bin/Debug/CloverusCommon.dll
CloverusCommon/bin/Debug/CloverusCommon.dll.config
CloverusCommon/bin/Debug/CloverusCommon.pdb
CloverusCommon/bin/Debug/Microsoft.Bcl.AsyncInterfaces.xml
CloverusCommon/bin/Debug/SprSettings.dll.config
CloverusCommon/bin/Debug/SprSettings.json
CloverusCommon/bin/Debug/System.Buffers.xml
CloverusCommon/bin/Debug/System.Memory.xml
CloverusCommon/bin/Debug/System.Numerics.Vectors.xml
CloverusCommon/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
CloverusCommon/bin/Debug/System.Text.Encodings.Web.xml
CloverusCommon/bin/Debug/System.Text.Json.xml
CloverusCommon/bin/Debug/System.Threading.Tasks.Extensions.xml
CloverusCommon/bin/Debug/System.ValueTuple.xml
CloverusCommon/bin/Debug/CloverusCommon.dll
CloverusCommon/bin/Debug/CloverusCommon.pdb
CloverusSys/.vs/CloverusSys/v17/.futdcache.v2
CloverusSys/bin/Debug/Microsoft.Bcl.AsyncInterfaces.xml
CloverusSys/bin/Debug/SprSettings.dll.config
CloverusSys/bin/Debug/SprSettings.json
CloverusSys/bin/Debug/System.Buffers.xml
CloverusSys/bin/Debug/System.Memory.xml
CloverusSys/bin/Debug/System.Numerics.Vectors.xml
CloverusSys/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
CloverusSys/bin/Debug/System.Text.Encodings.Web.xml
CloverusSys/bin/Debug/System.Text.Json.xml
CloverusSys/bin/Debug/System.Threading.Tasks.Extensions.xml
CloverusSys/bin/Debug/System.ValueTuple.xml
CloverusSys/packages/Microsoft.Bcl.AsyncInterfaces.6.0.0/.signature.p7s
CloverusSys/packages/Microsoft.Bcl.AsyncInterfaces.6.0.0/Icon.png
CloverusSys/packages/Microsoft.Bcl.AsyncInterfaces.6.0.0/lib/net461/Microsoft.Bcl.AsyncInterfaces.xml
CloverusSys/packages/Microsoft.Bcl.AsyncInterfaces.6.0.0/lib/netstandard2.0/Microsoft.Bcl.AsyncInterfaces.xml
CloverusSys/packages/Microsoft.Bcl.AsyncInterfaces.6.0.0/lib/netstandard2.1/Microsoft.Bcl.AsyncInterfaces.xml
CloverusSys/packages/Microsoft.Bcl.AsyncInterfaces.6.0.0/LICENSE.TXT
CloverusSys/packages/Microsoft.Bcl.AsyncInterfaces.6.0.0/Microsoft.Bcl.AsyncInterfaces.6.0.0.nupkg
CloverusSys/packages/Microsoft.Bcl.AsyncInterfaces.6.0.0/THIRD-PARTY-NOTICES.TXT
CloverusSys/packages/Microsoft.Bcl.AsyncInterfaces.6.0.0/useSharedDesignerContext.txt
CloverusSys/packages/System.Buffers.4.5.1/.signature.p7s
CloverusSys/packages/System.Buffers.4.5.1/lib/net461/System.Buffers.xml
CloverusSys/packages/System.Buffers.4.5.1/lib/netcoreapp2.0/_._
CloverusSys/packages/System.Buffers.4.5.1/lib/netstandard1.1/System.Buffers.xml
CloverusSys/packages/System.Buffers.4.5.1/lib/netstandard2.0/System.Buffers.xml
CloverusSys/packages/System.Buffers.4.5.1/lib/uap10.0.16299/_._
CloverusSys/packages/System.Buffers.4.5.1/LICENSE.TXT
CloverusSys/packages/System.Buffers.4.5.1/ref/net45/System.Buffers.xml
CloverusSys/packages/System.Buffers.4.5.1/ref/netcoreapp2.0/_._
CloverusSys/packages/System.Buffers.4.5.1/ref/netstandard1.1/System.Buffers.xml
CloverusSys/packages/System.Buffers.4.5.1/ref/netstandard2.0/System.Buffers.xml
CloverusSys/packages/System.Buffers.4.5.1/ref/uap10.0.16299/_._
CloverusSys/packages/System.Buffers.4.5.1/System.Buffers.4.5.1.nupkg
CloverusSys/packages/System.Buffers.4.5.1/THIRD-PARTY-NOTICES.TXT
CloverusSys/packages/System.Buffers.4.5.1/useSharedDesignerContext.txt
CloverusSys/packages/System.Buffers.4.5.1/version.txt
CloverusSys/packages/System.Memory.4.5.4/.signature.p7s
CloverusSys/packages/System.Memory.4.5.4/lib/net461/System.Memory.xml
CloverusSys/packages/System.Memory.4.5.4/lib/netcoreapp2.1/_._
CloverusSys/packages/System.Memory.4.5.4/lib/netstandard1.1/System.Memory.xml
CloverusSys/packages/System.Memory.4.5.4/lib/netstandard2.0/System.Memory.xml
CloverusSys/packages/System.Memory.4.5.4/LICENSE.TXT
CloverusSys/packages/System.Memory.4.5.4/ref/netcoreapp2.1/_._
CloverusSys/packages/System.Memory.4.5.4/System.Memory.4.5.4.nupkg
CloverusSys/packages/System.Memory.4.5.4/THIRD-PARTY-NOTICES.TXT
CloverusSys/packages/System.Memory.4.5.4/useSharedDesignerContext.txt
CloverusSys/packages/System.Memory.4.5.4/version.txt
CloverusSys/packages/System.Numerics.Vectors.4.5.0/.signature.p7s
CloverusSys/packages/System.Numerics.Vectors.4.5.0/lib/MonoAndroid10/_._
CloverusSys/packages/System.Numerics.Vectors.4.5.0/lib/MonoTouch10/_._
CloverusSys/packages/System.Numerics.Vectors.4.5.0/lib/net46/System.Numerics.Vectors.xml
CloverusSys/packages/System.Numerics.Vectors.4.5.0/lib/netcoreapp2.0/_._
CloverusSys/packages/System.Numerics.Vectors.4.5.0/lib/netstandard1.0/System.Numerics.Vectors.xml
CloverusSys/packages/System.Numerics.Vectors.4.5.0/lib/netstandard2.0/System.Numerics.Vectors.xml
CloverusSys/packages/System.Numerics.Vectors.4.5.0/lib/portable-net45+win8+wp8+wpa81/System.Numerics.Vectors.xml
CloverusSys/packages/System.Numerics.Vectors.4.5.0/lib/uap10.0.16299/_._
CloverusSys/packages/System.Numerics.Vectors.4.5.0/lib/xamarinios10/_._
CloverusSys/packages/System.Numerics.Vectors.4.5.0/lib/xamarinmac20/_._
CloverusSys/packages/System.Numerics.Vectors.4.5.0/lib/xamarintvos10/_._
CloverusSys/packages/System.Numerics.Vectors.4.5.0/lib/xamarinwatchos10/_._
CloverusSys/packages/System.Numerics.Vectors.4.5.0/LICENSE.TXT
CloverusSys/packages/System.Numerics.Vectors.4.5.0/ref/MonoAndroid10/_._
CloverusSys/packages/System.Numerics.Vectors.4.5.0/ref/MonoTouch10/_._
CloverusSys/packages/System.Numerics.Vectors.4.5.0/ref/net45/System.Numerics.Vectors.xml
CloverusSys/packages/System.Numerics.Vectors.4.5.0/ref/net46/System.Numerics.Vectors.xml
CloverusSys/packages/System.Numerics.Vectors.4.5.0/ref/netcoreapp2.0/_._
CloverusSys/packages/System.Numerics.Vectors.4.5.0/ref/netstandard1.0/System.Numerics.Vectors.xml
CloverusSys/packages/System.Numerics.Vectors.4.5.0/ref/netstandard2.0/System.Numerics.Vectors.xml
CloverusSys/packages/System.Numerics.Vectors.4.5.0/ref/uap10.0.16299/_._
CloverusSys/packages/System.Numerics.Vectors.4.5.0/ref/xamarinios10/_._
CloverusSys/packages/System.Numerics.Vectors.4.5.0/ref/xamarinmac20/_._
CloverusSys/packages/System.Numerics.Vectors.4.5.0/ref/xamarintvos10/_._
CloverusSys/packages/System.Numerics.Vectors.4.5.0/ref/xamarinwatchos10/_._
CloverusSys/packages/System.Numerics.Vectors.4.5.0/System.Numerics.Vectors.4.5.0.nupkg
CloverusSys/packages/System.Numerics.Vectors.4.5.0/THIRD-PARTY-NOTICES.TXT
CloverusSys/packages/System.Numerics.Vectors.4.5.0/useSharedDesignerContext.txt
CloverusSys/packages/System.Numerics.Vectors.4.5.0/version.txt
CloverusSys/packages/System.Runtime.CompilerServices.Unsafe.6.0.0/.signature.p7s
CloverusSys/packages/System.Runtime.CompilerServices.Unsafe.6.0.0/buildTransitive/netcoreapp2.0/System.Runtime.CompilerServices.Unsafe.targets
CloverusSys/packages/System.Runtime.CompilerServices.Unsafe.6.0.0/buildTransitive/netcoreapp3.1/_._
CloverusSys/packages/System.Runtime.CompilerServices.Unsafe.6.0.0/Icon.png
CloverusSys/packages/System.Runtime.CompilerServices.Unsafe.6.0.0/lib/net461/System.Runtime.CompilerServices.Unsafe.xml
CloverusSys/packages/System.Runtime.CompilerServices.Unsafe.6.0.0/lib/net6.0/System.Runtime.CompilerServices.Unsafe.xml
CloverusSys/packages/System.Runtime.CompilerServices.Unsafe.6.0.0/lib/netcoreapp3.1/System.Runtime.CompilerServices.Unsafe.xml
CloverusSys/packages/System.Runtime.CompilerServices.Unsafe.6.0.0/lib/netstandard2.0/System.Runtime.CompilerServices.Unsafe.xml
CloverusSys/packages/System.Runtime.CompilerServices.Unsafe.6.0.0/LICENSE.TXT
CloverusSys/packages/System.Runtime.CompilerServices.Unsafe.6.0.0/System.Runtime.CompilerServices.Unsafe.6.0.0.nupkg
CloverusSys/packages/System.Runtime.CompilerServices.Unsafe.6.0.0/THIRD-PARTY-NOTICES.TXT
CloverusSys/packages/System.Runtime.CompilerServices.Unsafe.6.0.0/useSharedDesignerContext.txt
CloverusSys/packages/System.Text.Encodings.Web.6.0.0/.signature.p7s
CloverusSys/packages/System.Text.Encodings.Web.6.0.0/buildTransitive/netcoreapp2.0/System.Text.Encodings.Web.targets
CloverusSys/packages/System.Text.Encodings.Web.6.0.0/buildTransitive/netcoreapp3.1/_._
CloverusSys/packages/System.Text.Encodings.Web.6.0.0/Icon.png
CloverusSys/packages/System.Text.Encodings.Web.6.0.0/lib/net461/System.Text.Encodings.Web.xml
CloverusSys/packages/System.Text.Encodings.Web.6.0.0/lib/net6.0/System.Text.Encodings.Web.xml
CloverusSys/packages/System.Text.Encodings.Web.6.0.0/lib/netcoreapp3.1/System.Text.Encodings.Web.xml
CloverusSys/packages/System.Text.Encodings.Web.6.0.0/lib/netstandard2.0/System.Text.Encodings.Web.xml
CloverusSys/packages/System.Text.Encodings.Web.6.0.0/LICENSE.TXT
CloverusSys/packages/System.Text.Encodings.Web.6.0.0/runtimes/browser/lib/net6.0/System.Text.Encodings.Web.xml
CloverusSys/packages/System.Text.Encodings.Web.6.0.0/System.Text.Encodings.Web.6.0.0.nupkg
CloverusSys/packages/System.Text.Encodings.Web.6.0.0/THIRD-PARTY-NOTICES.TXT
CloverusSys/packages/System.Text.Encodings.Web.6.0.0/useSharedDesignerContext.txt
CloverusSys/packages/System.Text.Json.6.0.5/.signature.p7s
CloverusSys/packages/System.Text.Json.6.0.5/build/System.Text.Json.targets
CloverusSys/packages/System.Text.Json.6.0.5/buildTransitive/netcoreapp2.0/System.Text.Json.targets
CloverusSys/packages/System.Text.Json.6.0.5/buildTransitive/netcoreapp3.1/_._
CloverusSys/packages/System.Text.Json.6.0.5/Icon.png
CloverusSys/packages/System.Text.Json.6.0.5/lib/net461/System.Text.Json.xml
CloverusSys/packages/System.Text.Json.6.0.5/lib/net6.0/System.Text.Json.xml
CloverusSys/packages/System.Text.Json.6.0.5/lib/netcoreapp3.1/System.Text.Json.xml
CloverusSys/packages/System.Text.Json.6.0.5/lib/netstandard2.0/System.Text.Json.xml
CloverusSys/packages/System.Text.Json.6.0.5/LICENSE.TXT
CloverusSys/packages/System.Text.Json.6.0.5/System.Text.Json.6.0.5.nupkg
CloverusSys/packages/System.Text.Json.6.0.5/THIRD-PARTY-NOTICES.TXT
CloverusSys/packages/System.Text.Json.6.0.5/useSharedDesignerContext.txt
CloverusSys/packages/System.Threading.Tasks.Extensions.4.5.4/.signature.p7s
CloverusSys/packages/System.Threading.Tasks.Extensions.4.5.4/lib/MonoAndroid10/_._
CloverusSys/packages/System.Threading.Tasks.Extensions.4.5.4/lib/MonoTouch10/_._
CloverusSys/packages/System.Threading.Tasks.Extensions.4.5.4/lib/net461/System.Threading.Tasks.Extensions.xml
CloverusSys/packages/System.Threading.Tasks.Extensions.4.5.4/lib/netcoreapp2.1/_._
CloverusSys/packages/System.Threading.Tasks.Extensions.4.5.4/lib/netstandard1.0/System.Threading.Tasks.Extensions.xml
CloverusSys/packages/System.Threading.Tasks.Extensions.4.5.4/lib/netstandard2.0/System.Threading.Tasks.Extensions.xml
CloverusSys/packages/System.Threading.Tasks.Extensions.4.5.4/lib/portable-net45+win8+wp8+wpa81/System.Threading.Tasks.Extensions.xml
CloverusSys/packages/System.Threading.Tasks.Extensions.4.5.4/lib/xamarinios10/_._
CloverusSys/packages/System.Threading.Tasks.Extensions.4.5.4/lib/xamarinmac20/_._
CloverusSys/packages/System.Threading.Tasks.Extensions.4.5.4/lib/xamarintvos10/_._
CloverusSys/packages/System.Threading.Tasks.Extensions.4.5.4/lib/xamarinwatchos10/_._
CloverusSys/packages/System.Threading.Tasks.Extensions.4.5.4/LICENSE.TXT
CloverusSys/packages/System.Threading.Tasks.Extensions.4.5.4/ref/MonoAndroid10/_._
CloverusSys/packages/System.Threading.Tasks.Extensions.4.5.4/ref/MonoTouch10/_._
CloverusSys/packages/System.Threading.Tasks.Extensions.4.5.4/ref/netcoreapp2.1/_._
CloverusSys/packages/System.Threading.Tasks.Extensions.4.5.4/ref/xamarinios10/_._
CloverusSys/packages/System.Threading.Tasks.Extensions.4.5.4/ref/xamarinmac20/_._
CloverusSys/packages/System.Threading.Tasks.Extensions.4.5.4/ref/xamarintvos10/_._
CloverusSys/packages/System.Threading.Tasks.Extensions.4.5.4/ref/xamarinwatchos10/_._
CloverusSys/packages/System.Threading.Tasks.Extensions.4.5.4/System.Threading.Tasks.Extensions.4.5.4.nupkg
CloverusSys/packages/System.Threading.Tasks.Extensions.4.5.4/THIRD-PARTY-NOTICES.TXT
CloverusSys/packages/System.Threading.Tasks.Extensions.4.5.4/useSharedDesignerContext.txt
CloverusSys/packages/System.Threading.Tasks.Extensions.4.5.4/version.txt
CloverusSys/packages/System.ValueTuple.4.5.0/.signature.p7s
CloverusSys/packages/System.ValueTuple.4.5.0/lib/MonoAndroid10/_._
CloverusSys/packages/System.ValueTuple.4.5.0/lib/MonoTouch10/_._
CloverusSys/packages/System.ValueTuple.4.5.0/lib/net461/System.ValueTuple.xml
CloverusSys/packages/System.ValueTuple.4.5.0/lib/net47/System.ValueTuple.xml
CloverusSys/packages/System.ValueTuple.4.5.0/lib/netcoreapp2.0/_._
CloverusSys/packages/System.ValueTuple.4.5.0/lib/netstandard1.0/System.ValueTuple.xml
CloverusSys/packages/System.ValueTuple.4.5.0/lib/netstandard2.0/_._
CloverusSys/packages/System.ValueTuple.4.5.0/lib/portable-net40+sl4+win8+wp8/System.ValueTuple.xml
CloverusSys/packages/System.ValueTuple.4.5.0/lib/uap10.0.16299/_._
CloverusSys/packages/System.ValueTuple.4.5.0/lib/xamarinios10/_._
CloverusSys/packages/System.ValueTuple.4.5.0/lib/xamarinmac20/_._
CloverusSys/packages/System.ValueTuple.4.5.0/lib/xamarintvos10/_._
CloverusSys/packages/System.ValueTuple.4.5.0/lib/xamarinwatchos10/_._
CloverusSys/packages/System.ValueTuple.4.5.0/LICENSE.TXT
CloverusSys/packages/System.ValueTuple.4.5.0/ref/MonoAndroid10/_._
CloverusSys/packages/System.ValueTuple.4.5.0/ref/MonoTouch10/_._
CloverusSys/packages/System.ValueTuple.4.5.0/ref/netcoreapp2.0/_._
CloverusSys/packages/System.ValueTuple.4.5.0/ref/netstandard2.0/_._
CloverusSys/packages/System.ValueTuple.4.5.0/ref/uap10.0.16299/_._
CloverusSys/packages/System.ValueTuple.4.5.0/ref/xamarinios10/_._
CloverusSys/packages/System.ValueTuple.4.5.0/ref/xamarinmac20/_._
CloverusSys/packages/System.ValueTuple.4.5.0/ref/xamarintvos10/_._
CloverusSys/packages/System.ValueTuple.4.5.0/ref/xamarinwatchos10/_._
CloverusSys/packages/System.ValueTuple.4.5.0/System.ValueTuple.4.5.0.nupkg
CloverusSys/packages/System.ValueTuple.4.5.0/THIRD-PARTY-NOTICES.TXT
CloverusSys/packages/System.ValueTuple.4.5.0/useSharedDesignerContext.txt
CloverusSys/packages/System.ValueTuple.4.5.0/version.txt
SprCommon/bin/Debug/Microsoft.Bcl.AsyncInterfaces.xml
SprCommon/bin/Debug/SprSettings.dll.config
SprCommon/bin/Debug/SprSettings.json
SprCommon/bin/Debug/System.Buffers.xml
SprCommon/bin/Debug/System.Memory.xml
SprCommon/bin/Debug/System.Numerics.Vectors.xml
SprCommon/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
SprCommon/bin/Debug/System.Text.Encodings.Web.xml
SprCommon/bin/Debug/System.Text.Json.xml
SprCommon/bin/Debug/System.Threading.Tasks.Extensions.xml
SprCommon/bin/Debug/System.ValueTuple.xml
SprCommon/obj/Debug/SprCommon.csproj.CopyComplete
SprSettings/bin/Debug/Microsoft.Bcl.AsyncInterfaces.xml
SprSettings/bin/Debug/SprSettings.dll.config
SprSettings/bin/Debug/SprSettings.json
SprSettings/bin/Debug/System.Buffers.xml
SprSettings/bin/Debug/System.Memory.xml
SprSettings/bin/Debug/System.Numerics.Vectors.xml
SprSettings/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
SprSettings/bin/Debug/System.Text.Encodings.Web.xml
SprSettings/bin/Debug/System.Text.Json.xml
SprSettings/bin/Debug/System.Threading.Tasks.Extensions.xml
SprSettings/bin/Debug/System.ValueTuple.xml
SprSettings/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
SprSettings/obj/Debug/SprSettings.csproj.CopyComplete
SprSettings/obj/Debug/SprSettings.csproj.FileListAbsolute.txt
CloverusCommon/bin/Debug/CloverusCommon.dll
CloverusCommon/bin/Debug/CloverusCommon.pdb
SprSettings/obj/Debug/_IsIncrementalBuild
CloverusCommon/obj/Debug/build.force
CloverusCommon/obj/Debug/build.force
CloverusCommon/bin/Debug/CloverusCommon.dll
