
CloverusSys/.vs/CloverusSys/v16/.suo
CloverusSys/obj/Debug/CloverusSys.csproj.AssemblyReference.cache
CloverusSys/obj/Debug/DesignTimeResolveAssemblyReferences.cache
CloverusSys/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CloverusSys/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
